<%- include('header') %>

  <div class="container-fluid">
    <div class="flex-container">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary float-left" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4"><h1>2Do's</h1></span>
        </a>
        <hr>
        <ul class="nav nav-tabs flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link" aria-current="page">
              Home
            </a>
          </li>
          <% foundCustomList.forEach(customList => { %>
            <li>
              <a href="/<%= customList.name %>" class="nav-link link-body-emphasis">
                <%= customList.name %>
              </a>
              <form action="/deleteList" method="post">
                <input type="hidden" name="currentList" value="<%= listTitle %>">
                <button class="btn btn-light" name="listId" value="<%= customList._id %>" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                  </svg>
                </button>
              </form>
            </li>
          <% }) %>
          <hr>
            <form action="/newList" method="post" class="input-container">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingNewItem" placeholder="Add a new List" name="newList">
                  <input type="hidden" name="list" value="<%= listTitle %>">
                  <label for="floatingNewItem">Add a new List</label>
                </div>
                <button class="btn btn-primary rounded-circle p-2 lh-1" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                  </svg>
                </button>
            </form>
        </ul>
      </div>
  
      <div class="d-flex flex-column p-4 gap-4 py-md-5 align-items-center justify-content-center">
          <form action="/delete" method="post">
            <h1 class="display-5 fw-bold text-body-emphasis p-4"><%= listTitle %></h1>
            <div class="list-group">
              <% foundList.forEach(list => { %>
                  <label class="list-group-item d-flex gap-3">
                        <input class="form-check-input flex-shrink-0" type="checkbox" onChange="this.form.submit()" name="itemId" value="<%= list._id %>" style="font-size: 1.375em;">
                        <span class="pt-1 form-checked-content">
                          <p><%= list.name %></p>
                        </span>
                    </label>
            <%  }); %>
              <input type="hidden" name="list" value="<%= listTitle %>">
          </form>
      
            <label class="list-group-item d-flex gap-3 bg-body-tertiary mb-5">
              <form action="/" method="post" name="myForm" onsubmit="return validateForm()">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingNewItem" placeholder="Add a new item" name="newItem">
                  <input type="hidden" name="list" value="<%= listTitle %>">
                  <label for="floatingNewItem">Add a new item</label>
                </div>
                <button class="btn btn-primary rounded-circle p-2 lh-1" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                  </svg>
                </button>
              </form>
            </label>
          </div>
    </div>
    
      </div>
    
      <script>
        function validateForm() {
          var x = document.forms["myForm"]["newItem"].value;
          if (x == "") {
            alert("Please Insert an item!");
            return false;
        }
      }
      </script>

      <script>
        $(document).ready(function() {
          // Get the current URL
          var currentUrl = window.location.pathname;

          // Iterate through each link in the navigation
          $('ul a').each(function() {
            var linkUrl = $(this).attr('href');

            // Check if the link's URL matches the current URL
            if (currentUrl === linkUrl) {
              // Add the active class to the matching link
              $(this).addClass('active');
            }
          });
        });
      </script>
</div>


<%- include('footer') %>